@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --bg-dark: hsl(17 49% 1%);
  --bg: hsl(20 32% 4%);
  --bg-light: hsl(21 18% 9%);
  --text: hsl(21 90% 95%);
  --text-muted: hsl(21 14% 69%);
  --highlight: hsl(21 10% 39%);
  --border: hsl(21 13% 28%);
  --border-muted: hsl(21 19% 18%);
  --primary: hsl(22 68% 68%);
  --secondary: hsl(199 70% 65%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
}

* {
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  font-family: Lexend, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.important-text {
  color: var(--text);
  font-weight: 700;
}

.muted-text {
  color: var(--text-muted);
}

header {
  min-height: 75px;
}

header,
main,
footer {
  background-color: var(--bg);
  border: 1px solid var(--border-muted);
  border-radius: 16px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 28px;
}